.sendmessage-container{
    grid-area: SendMessage;
    background-color: #36393e;
    /* position: relative; */
    border-top: 2px solid #42454a;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

form{
    width: 100%;
    /* height: 100%; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.send-input{
    
        display: block;
        /* position: absolute; */
        /* left: 50%; */
        /* top: 50%; */
        /* transform: tr/anslate(-50%,-50%); */
        width: 95%;
        /* margin: 1rem 0; */
        height: 18px;
        padding: 0.7rem;
        color: #fff;
        background-color: #484b52;
        border: none;
        overflow-y : hidden;
        resize: none;
        outline: none;
}

.send-input:hover,.send-input:focus{
    border:none
}

.attachment-icon{
    position: absolute;
    top: 50%;
    /* left: 95%; */
    right: 5%;
    transform: translate(50%,-50%);
    color: rgba(255,255,255,0.1);
    font-size: 1.2rem;
    cursor: pointer;
}

.attachment-icon input{
    display: none;
    
}

.emoji-icon{
    position: absolute;
    top: 50%;
    /* left: 95%; */
    right: 9%;
    transform: translate(50%,-50%);
    color: rgba(255,255,255,0.1);
    font-size: 1.2rem;
    cursor: pointer;
}

aside.emoji-picker-react {
    background: #fff;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 250px;
    font-family: sans-serif;
    border: 1px solid #efefef;
    border-radius: 5px;
    box-sizing: border-box;
    /* box-shadow: 0 5px 10px #efefef; */
    overflow: hidden;
    position: relative;
    position: absolute;
    top: -255px;
    left: -20px;

}

.hidden{
    display: none;
}