.message-container{
        display: grid;
        padding: 1rem;
        width: 90%;
        margin:0 auto;
        /* border-top: 2px solid #42454a; */
        border-bottom: 2px solid #42454a;
        grid-template-columns: 50px 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
                "avatar info"
                "no message";
}

.avatar{
        grid-area:avatar;
        text-align: center;
}
.message-info{
        grid-area : info;
        
}

.timestamp{
        color : #72767d;
        font-size: 0.75rem;
        margin-left: 0.3rem;
}

.author {
	color: #fff;
	font-size: 1rem;
}

.message{
        grid-area:message;
        
}

.message p {
        margin : 0px 0 0 0;
        color: rgba(255, 255, 255, 0.5);
        font-weight: 400;
        line-height: 1.375rem;
}

.messageImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 100vw;
    min-height: 100vh;
    background: rgba(0,0,0,0.5);
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: 0.2s;
}

.cancel-icon{
        color: white;
        display: block;
        position: absolute;
        top: 5%;
        right: 2rem;
        font-size: 2rem;
        cursor: pointer;
}

img{
        display: block;
        cursor: pointer;
}